body{
    background-color: #e6e6e6;
}

h1{
    color: #003c71;
}
nav {
    background-color: lightslategray;
    text-align: center;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
